/*
    Layout
--------------------------------------*/
main {
    width: 100vw;
    position: relative;
    @media (min-width: $desktop-width) {
        overflow: hidden;
        &::after {
            content: '';
            width: 50%;
            height: calc(100vh + 20%);
            position: absolute;
            top: calc(50vmin - 40%);
            right: 0;
            background-image: url(../images/image-mockups.png);
            background-repeat: no-repeat;
            z-index: 9999;
        }
    }
}

/* Header Section */
.header-section {
    @include layout-properties(1);
    @media (min-width: $desktop-width) {
        display: flex;
        align-items: center;
    }
}

/* Hero Section */
.hero-section {
    @include layout-properties(3);
    padding-top: 0;
    z-index: 9999;
    @media (min-width: $desktop-width) {
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 0;
        align-items: center;
    }
    &::before {
        content: '';
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: calc(50% - 50vw);
        background-color: $very-light-gray;
        z-index: -9999;
        @media (min-width: $desktop-width) {
            background-image: url(../images/bg-intro-desktop.svg);
            background-repeat: no-repeat;
            background-position: calc(100% + 600px) calc(100% + 170px);
        }
        @media (min-width: 1170px) {
            background-position: calc(100% + 400px) calc(100% + 180px);
        }
        @media (min-width: 1600px) {
            background-position: calc(100% + 300px) calc(100% + 180px);
        }
    }
}

/* About Section */
.about-section {
    @include layout-properties(3);
    &::before {
        content: '';
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: calc(50% - 50vw);
        background-color: $light-grayish-blue;
        z-index: -9999;
    }
}

/* Blog Section */
.blog-section {
    @include layout-properties(3);
    &::before {
        content: '';
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: calc(50% - 50vw);
        background-color: $very-light-gray;
        z-index: -9999;
    }
}

/* Footer Section */
.footer-section {
    @include layout-properties(2);
    text-align: center;
    @media (min-width: $desktop-width) {
        display: flex;
        justify-content: space-between;
    }
    &::before {
        content: '';
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: calc(50% - 50vw);
        background-color: $dark-blue;
        z-index: -9999;
    }
}

/* Cols */
.col-4 {
    @media (min-width: $desktop-width) {
        display: flex;
        justify-content: space-between;
    }
}