/*
    Module
--------------------------------------*/

/* Header Section */
.header-brand {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: $desktop-width) {
        display: inline-flex;
        flex: 1;
    }
}

.header-primaryBtn {
    display: none;
    @media (min-width: $desktop-width) {
        display: inline-flex;
        flex: 1;
        text-align: right;
    }
}

/* Nav */
.navbar {
    display: none;
    &--active {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    @media (min-width: $desktop-width) {
        display: block;
        flex: 2;
        text-align: left;
    }
}

.navlinks {
    width: 100%;
    padding: 12px 0;
    position: absolute;
    top: calc(100% + 50px);
    border-radius: 6px;
    text-align: center;
    background-color:$white;
    &__link {
        display: inline-block;
        padding: 8px 16px;
        font-weight: $font-weight-bold;
        text-decoration: none;
        color: $dark-blue;
        position: relative;
    }
    @media (min-width: $desktop-width) {
        width: auto;
        position: relative;
        display: inline-flex;
        &__items {
            position: relative;
        }
        &__link {
            display: inline;
            padding: 8px 16px;
            font-weight: $font-weight-bold;
            text-decoration: none;
            color: $grayish-blue;
            position: relative;
            &::after {
                content: '';
                width: 100%;
                height: 0;
                position: absolute;
                left: 0;
                bottom: -32px;
                background-color: $lime-green;
                border-radius: 5px;
                transition: 200ms all;
            }
            &:hover {
                &::after {
                    height: 6px;
                }
            }
        }
    }
}

.navbar-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 11px;
    cursor: pointer;
    @media (min-width: $desktop-width) {
        display: none;
    }
    &__bar {
        width: inherit;
        height: 1px;
        background-color: $dark-blue;
        transition: all 200ms;
        &--close {
            background-color: $dark-blue;
            &:nth-of-type(1) {
                transform: translateY(5px) rotate(45deg);
            }
            &:nth-of-type(2) {
                opacity: 0;
            }
            &:nth-of-type(3) {
                transform: translateY(-6px) rotate(-45deg);
            }
        }
    }
}

/* Heading Section */
.sectionHeading {
    text-align: center;
    @media (min-width: $desktop-width) {
        width: 55%;
        text-align: left;
    }
    &__title-h1 {
        font-size: 4.4rem;
        line-height: 1.2em;
        font-weight: $font-weight-normal;
        color: $dark-blue;
        letter-spacing: -0.04ch;
    }
    &__title-h2 {
        font-size: 3.6rem;
        line-height: 1.2em;
        font-weight: $font-weight-normal;
        color: $dark-blue;
        letter-spacing: -0.04ch;
    }
    &__info {
        margin-top: 2.4rem;
    }
}

/* Hero Section */
.hero-image-section {
    width: 100vw;
    height: 84vmin;
    margin-left: -2.4rem;
    position: relative;
    @media (min-width: $desktop-width) {
        width: 100%;
        height: 50vh;
        margin: 0;
    }
    &__img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../images/bg-intro-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 calc(100% + 36px);
        @media (min-width: $desktop-width) {
            left: 0;
            right: 0;
            background-image: none;
        }
        &::after {
            content: '';
            width: calc(100% - 3.6rem);
            height: 100%;
            position: absolute;
            top: 0;
            left: calc(50% - 45%);
            background-image: url(../images/image-mockups.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 0 calc(100% - 20px);
            @media (min-width: $desktop-width) {
                display: none;
            }
        }
    }
}

.hero-primaryBtn {
    margin-top: 2.4rem;
    text-align: center;
    @media (min-width: $desktop-width) {
        text-align: left;
    }
}

/* About Section */
.about-card {
    margin-top: 4rem;
    text-align: center;
    @media (min-width: $desktop-width) {
        flex-basis: 22%;
        margin-top: 7.2rem;
        text-align: left;
    }
    &:nth-of-type(1) {
        margin-top: 7.2rem;
    }
    &__icon {
        width: 100px;
        height: 100;
        display: inline-block;
        @media (min-width: $desktop-width) {
            width: 80px;
        }
    }
    &__title {
        margin-top: 2.4rem;
        font-size: 2.4rem;
        font-weight: $font-weight-normal;
        color: $dark-blue;
    }
    &__text {
        margin-top: 24px;
    }
}

/* Blog Section */
.blog-card {
    margin-top: 4rem;
    border-radius: 8px;
    background-color: $white;
    overflow: hidden;
    @media (min-width: $desktop-width) {
        flex-basis: 24%;
    }
    &__image {
        @media (min-width: $desktop-width) {
            height: 174px;
            overflow: hidden;
        }
        &-img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    &__content {
        padding: 2.4rem 2.4rem 4.8rem;
    }
    &__author {
        display: inline-block;
        font-size: 1.4rem;
        font-weight: $font-weight-bold;
        color: $grayish-blue;
    }
    &__title {
        margin-top: 1.2rem;
        font-size: 2.4rem;
        line-height: 1.2em;
        font-weight: $font-weight-normal;
        color: $dark-blue;
    }
    &__link {
        text-decoration: none;
        color: $dark-blue;
        transition: 200ms all;
        &:hover {
            color: $lime-green;
        }
    }
    &__text {
        margin-top: 1.2rem;
    }
}

/* Footer Section */

.footer-left {
    @media (min-width: $desktop-width) {
        text-align: left;
        flex: 1;
    }
}

.footer-center {
    @media (min-width: $desktop-width) {
        flex: 2;
    }
}

.footer-right {
    @media (min-width: $desktop-width) {
        flex: 1;
        text-align: right;
    }
}

.footer-brand {
    width: 100%;
}

.socialLinks {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 3.2rem auto 0;
    @media (min-width: $desktop-width) {
        width: 60%;
        margin: 4.8rem 0 0;
    }
    &__link {
        flex-basis: 12%;
    }
    &__icons {
        display: block;
        width: 100%;
        height: auto;
        transition: 200ms all;
        &:hover {
            fill: $lime-green;
        }
    }
}

.footer-navbar {
    width: 100%;
    margin-top: 2.4rem;
    @media (min-width: $desktop-width) {
        display: flex;
        margin: 0;
        text-align: left;
    }
}

.footerlinks {
    width: inherit;
    @media (min-width: $desktop-width) {
        width: 30%;
    }
    &__items {

    }
    &__link {
        display: inline-block;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        font-size: 1.8rem;
        font-weight: $font-weight-bold;
        color: $white;
        text-decoration: none;
        transition: 200ms all;
        &:hover {
            color: $lime-green;
        }
    }
}

.footer-primaryBtn {
    margin-top: 3.2rem;
    @media (min-width: $desktop-width) {
        margin: 0;
    }
}

.copyrights {
    margin-top: 2.4rem;
}

.attribution {
    font-size: 1.4rem;
    margin-top: 2.4rem;
    & a {
        color: $very-light-gray;
        text-decoration: none;
        transition: 200ms all;
        &:hover {
            color: $lime-green;
        }
    }
}

/* Images */
.header-brand__logo {
    display: inline-flex;
}

/* Buttons */
.primaryBtn {
    display: inline-block;
    padding: 16px 32px;
    position: relative;
    border-radius: 50px;
    background: rgba(49,211,92,1);
    background: linear-gradient(90deg, rgba(49,211,92,1) 30%, rgba(43,183,218,1) 100%);
    color: #fff;
    font-size: 1.8rem;
    line-height: 0.9em;
    font-weight: $font-weight-extra-bold;
    text-decoration: none;
    overflow: hidden;
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255,255,255,0.4);
        border-radius: 50px;
        z-index: 9999;
        transform: translateX(-110%);
        transition: 200ms all;
    }
    &:hover {
        &::after {
            left: 0%;
            transform: translateX(0%);
        }
    }
}